@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #E8ECE0 ;
  text-align: center;
  
}

.b-container{
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.page-alignment{
  padding: 0 100px ;
}
